@import url("https://use.typekit.net/czi4eox.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roc-grotesk";
    cursor: none;
}

body {
    background: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

ul {
    position: relative;
    display: flex;
    flex-direction: column;
}

ul li {
    list-style: none;
}

.bigC {
    position: relative;
    display: inline-block;
    margin: 02px;
    font-size: 4em;
    text-decoration: none;
    color: #000;
    transition: 0.2s;
}

.bigC:hover{
    color: #8e8e8e;
}

.tiktok:link {
    color: rgb(0, 4, 255);
    background-color: transparent;
    text-decoration: none;
}

.tiktok:visited {
    color: rgb(0, 4, 255);
    background-color: transparent;
    text-decoration: none;
}

.tiktok:hover {
    color: rgb(255, 116, 216);
    background-color: transparent;
    text-decoration: underline;
}

.tiktok:active {
    color: rgb(255, 116, 216);
    background-color: transparent;
    text-decoration: underline;
}

.mail {
    transition: 0.5s;
    position: relative;
    max-width: 80%;
    padding: 1%;
}

.mail:link {
    color: #222222;
    background-color: transparent;
    text-decoration: none;
}

.mail:visited {
    color: #222222;
    background-color: transparent;
    text-decoration: none;
}

.mail:hover {
    color: #8e8e8e;
    background-color: transparent;
    text-decoration: underline;
}

.mail:active {
    color: #8e8e8e;
    background-color: transparent;
    text-decoration: underline;
}

.mail:hover ~ .cursor {
    transform: scale(0.5);
}

.cursor {
    filter: grayscale(100%);
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 9999;
}

ul li:hover ~ .cursor {
    transform: scale(6);
}

.tiktok {
    transition: 0.2s;
    max-width: 40%;
    position: relative;
    padding: 2%;
}

.tiktok:hover ~ .cursor {
    transform: scale(0);
}

.dropdown {
    position: absolute;
    top: 5%;
    left: 5%;
}

.dropdown button {
    background-color: rgb(250, 250, 250);
    color: #000;
    padding: 10px;
    border: none;
}

.dropdown .menu-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown .menu-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown .menu-content a:hover {
    background-color: #f1f1f1;
}


h1 {
    font-size: 4em;
    text-decoration: none;
}

h2 {
    width: 110%;
    height: 110%;
}

iframe {
    max-width: 800px;
    margin: 0;
    position: relative;
    z-index: 1;
}

/*<h1>lucas barros</h1>
<h3>lorem ipsum</h3>
<a href="https://www.tiktok.com/@notlucasbarros">meu tiktok</a>
<video width="320" height="240" controls>
  <source src="movie.mp4" type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
Your browser does not support the video tag.
</video>*/