@import url("https://use.typekit.net/czi4eox.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roc-grotesk";
}

body {
    background: #fafafa;
    background: linear-gradient(to bottom, #d4d4d4, #fafafa);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

::selection {
    color: #fafafa;
    background: #c6c6c6;
}

.profile {
    position: fixed;
    top: 0%;
    padding-top: 8%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pfp {
    margin: 2%;
    max-width: 20%;
    max-height: 20%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.pfpname {
    margin-left: 5%;
    font-family: "roc-grotesk-wide";
}

.linkspace {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5%;
    margin-bottom: 0%;
}

.link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
}

.links {
    text-decoration: none;
    width: 350px;
    font-size: 140%;
    color: #000;
    margin-right: 2%;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    border-style: none;
}

.link-container :active {
    transition: 0.1s;
    border-radius: 5px;
    border-style: none;
    mix-blend-mode: exclusion;
}

.link-container :hover {
    transition: 0.4s;
    background-color: #eeeeee;
    border-radius: 5px;
    border-style: none;
}
  
.icons {
    max-width: 9%;
    max-height: 9%;
    margin: 1.5%;
}

.links img {
    margin-left: 1%;
    margin-right: 23%;
}
