@import url("https://use.typekit.net/czi4eox.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roc-grotesk";
}

body {
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profile {
    background: linear-gradient(to bottom, #d4d4d4, #fafafa);
    position: fixed;
    top: 0%;
    padding-top: 2%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pfp {
    margin: 2%;
    max-width: 6%;
    max-height: 6%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.pfpname {
    margin-left: 3%;
    font-family: "roc-grotesk-wide";
}

.linkspace {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    text-align: center;
}

.link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
}

.links {
    text-decoration: none;
    width: 400px;
    font-size: 140%;
    color: #000;
    margin-right: 2%;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    border-style: none;
  }
  
.icons {
    max-width: 7%;
    max-height: 7%;
    margin: 1.5%;
}

.links img {
    margin-left: 1%;
    margin-right: 23%;
}